.range-slider {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

/* Track */
.range-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #cfd3e0;
  border-radius: 5px;
}

/* Thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ffcc00;
  cursor: pointer;
  margin-top: -6px;
}
.slider1{
 padding-bottom:10px;
}

/* Bubble */
.bubble {
  position: absolute;
  top: -28px;
  transform: translateX(-50%);
  background: #222;
  padding: 3px 8px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
}
